@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

@media only screen and (max-width: 1000px) {
    #body {
        font-size: 15px;
    }

    input[type=email] {
        font-size: 15px;
    }

    input[type=submit] {
        font-size: 18px; 
    }
}

#body {
    background-color: #362463;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-size: 36px;
}

#title-text {
    background-color: #241a3d;
    margin: 0px;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
}  

#header-img {
    width: 100vw;
    height: auto;
    top: 0;
}

#nav-bar {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
    background-color: #241a3d;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: auto; 
}

.nav-link {
    color: #ffffff;
    margin-left: 5px;
}

#video {
    display:block;
    margin: 10px auto;
} 

#form {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-top: 5%;
    text-align: center;
}

#description {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 24px;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

input[type=email] {
    width: 60%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 10px solid #241a3d;
    border-radius: 15px;
}

input[type=submit] {
    width: 20%;
    height: 6%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 10px solid #241a3d;
    border-radius: 15px;
}

.weapon-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 60%;
    height: auto;
}

.video {
    display:block;
    margin: 10px auto;
}