@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

#body {
    background-color: #362463;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-size: 36px;
}

#title-text {
    background-color: #241a3d;
    margin: 0px;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
}  

#header-img {
    width: 100vw;
    height: auto;
}

#nav-bar {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    background-color: #241a3d;
    position:fixed;
    width: 100vw;
    top: auto;
    left: 0;
    height: auto; 
}

.nav-link {
    color: #ffffff;
    margin-left: 5px;
}

#video {

} 

#form {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-top: 8%;
    text-align: center;
}

#description {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

input[type=email] {
    width: 60%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 10px solid #241a3d;
    border-radius: 15px;
}

input[type=submit] {
    width: 20%;
    height: 6%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border: 10px solid #241a3d;
    border-radius: 15px;
}

#jr {

}

#zap {

}

#h3d {

}